{% extends "browse/base_generic.html" %}

{% block title %}{{ object.name }}{% endblock %}

{% block body %}
<h1>{{ object.name }}</h1>

{% with most_recent_obj=object.quantity.data_files.all|first %}
{% if most_recent_obj != object %}

<div class="alert alert-warning" role="alert">
  <strong>Warning</strong>: a
    <a href="{% url 'data-file-view' most_recent_obj.uuid %}">newer version</a>
    of this data file ({{ most_recent_obj.upload_date|date }},
    {{ most_recent_obj.upload_date|time }}) file exist in the database.
</div>
  
{% endif %}
{% endwith %}

{% if object.plot_file %}
<figure class="figure">
  <img
    src="{% url 'data-file-plot-view' object.uuid %}"
    class="img-fluid"
    alt="Plot of the data file">
  <figcaption class="figure-caption">Plot of the data file</figcaption>
</figure>
{% endif %}

<div class="row">
  <ul>
    <li>Quantity:
      <a href="{% url 'quantity-view' object.quantity.uuid %}">
        {{ object.quantity }}</a></li>
    <li>Upload date: {{ object.upload_date|date }}, {{ object.upload_date|time }}</li>
  
    {% with format_spec=object.quantity.format_spec %}
    <li>Specification document:
      <a href="{% url 'format-spec-download-view' format_spec.uuid %}">
        {{ object.quantity.format_spec }}</a>,
      version {{ object.spec_version }}</li>
    {% endwith %}
  </ul>
</div>

<div class="row justify-content-end">
  <a class="btn btn-primary" href="{% url 'data-file-download-view' object.uuid %}">Download ({{ object.file_data.size|filesizeformat }})</a>
</div>

{% if object.dependencies.all %}
<h2>Dependencies</h2>

<ul>
  {% for cur_obj in object.dependencies.all %}
  <li><a href="{% url 'data-file-view' cur_obj.uuid %}">{{ cur_obj }}</a></li>
  {% endfor %}
</ul>
{% endif %}

{% endblock %}
