{% extends "browse/base_generic.html" %}

{% load customfilters %}

{% block title %}{{ object.name }}{% endblock %}

{% block body %}
<h1>{{ object.name }}</h1>

{% with most_recent_obj=object.quantity.data_files.all|first %}
{% if most_recent_obj != object %}

<div class="alert alert-warning" role="alert">
  <strong>Warning</strong>: a
    <a href="{% url 'data-file-view' most_recent_obj.uuid %}">newer version</a>
    of this data file ({{ most_recent_obj.upload_date|date }},
    {{ most_recent_obj.upload_date|time }}) file exist in the database.
</div>
  
{% endif %}
{% endwith %}

{% if object.plot_file %}
<figure class="figure">
  <img
    src="{% url 'data-file-plot-view' object.uuid %}"
    class="img-fluid"
    style="max-width:60%;"
    alt="Plot of the data file">
</figure>
{% endif %}

{% if object.file_data %}
<p></p><a class="btn btn-primary" href="{% url 'data-file-download-view' object.uuid %}">Download ({{ object.file_data.size|filesizeformat }})</a></p>
{% endif %}

<div class="row">
  <ul>
    <li>Quantity:
      <a href="{% url 'quantity-view' object.quantity.uuid %}">
        {{ object.quantity }}</a></li>
    <li>Upload date: {{ object.upload_date|date }}, {{ object.upload_date|time }}</li>
  
    {% with format_spec=object.quantity.format_spec %}
    <li>Specification document:
      <a href="{% url 'format-spec-download-view' format_spec.uuid %}">
        {{ object.quantity.format_spec }}</a>,
      version {{ object.spec_version }}</li>
    {% endwith %}
  </ul>
</div>

{% if object.metadata %}
<div class="row">
  <pre>
    <code class="json">
{% autoescape on %}
{{ object.metadata|format_json }}
{% endautoescape %}
    </code>
  </pre>
</div>
{% endif %}

{% if object.release_tags.all %}
<h2>Releases</h2>

<table  class="table">
  <thead>
    <th scope="col">Release</th>
    <th scope="col">Date</th>
    <th scope="col">Path of the object</th>
  </thead>
  
  {% for cur_release in object.release_tags.all %}
  <tr>
    <td>
      <a href="{% url 'release-view' cur_release.tag %}">{{ cur_release.tag }}</a>
    </td>
    <td>
      {{ cur_release.rel_date|date:"M d, Y" }}
    </td>
    <td>
      <tt>/releases/{{ cur_release.tag}}/{{ object.quantity.full_path }}</tt>
    </td>
  </tr>
  {% endfor %}
</table>
{% endif %}

{% if object.dependencies.all %}
<h2>Dependencies</h2>

<ul>
  {% for cur_obj in object.dependencies.all %}
  <li><a href="{% url 'data-file-view' cur_obj.uuid %}">{{ cur_obj }}</a></li>
  {% endfor %}
</ul>
{% endif %}

{% endblock %}
