{% extends "browse/base_generic.html" %}
{% load mptt_tags %}

{% block title %}{{ object.name|capfirst }}{% endblock %}

{% block body %}
<h1>{{ object.name|capfirst }} (entity)</h1>

{% if object.parent %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    {% for parent in object.get_ancestors %}
    <li class="breadcrumb-item"><a href="{% url 'entity-view' parent.uuid %}">{{ parent.name }}</a></li>
    {% endfor %}
    <li class="breadcrumb-item active">{{ object.name }}</li>
  </ol>
</nav>
{% endif %}

{% if object.children.all %}
<h2>Sub-entities</h2>
<ul>
  {% for cur_obj in object.children.all %}
  <li><a href="{% url 'entity-view' cur_obj.uuid %}">{{ cur_obj }}</a></li>
  {% endfor %}
</ul>
{% endif %}

{% if object.quantities.all %}
<table class="table table-striped table-bordered table-hover">
  <caption>List of quantities</caption>
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Last updated</th>
      <th scope="col">Data files</th>
    </tr>
  </thead>  
  {%for cur_obj in object.quantities.all %}
  <tr>
    <td><a href="{% url 'quantity-view' cur_obj.uuid %}">{{ cur_obj }}</a></td>
    <td>{% if cur_obj.data_files.all %}{% with data_file=cur_obj.data_files.all|first %}{{ data_file.upload_date|date }}, {{ data_file.upload_date|time }}{% endwith %}{% else %}N/A{% endif %}</td>
    <td>{{ cur_obj.data_files.all|length }}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

{% endblock %}
