{% extends "browse/base_generic.html" %}
{% block title %}Entities{% endblock %}

{% block body %}
{% load mptt_tags %}

<h1>Entities</h1>
<div class="list-group">
  <ul class="list-group list-group-flush">
    {% recursetree object_list %}
    <li class="list-group-item">
      <details>
        <summary><a href="{% url 'entity-view' node.uuid %}">{{ node.name|capfirst }}</a></summary>
        {% if not node.is_leaf_node %}
        <ul class="children nested">
          {{ children }}
        </ul>
        {% endif %}
      </details>
    </li>
    {% endrecursetree %}
  </ul>
</div>

{% endblock %}
