{% extends "browse/base_generic.html" %}
{% block title %}Releases{% endblock %}

{% block body %}

<h1>IMO Releases</h1>

<div class="list-group">
  <table>
      <thead>
      <tr>
          <td>Version</td>
          <td>Date</td>
          <td>JSON file</td>
      </tr>
      </thead>
      <tbody>
      {% for obj in object_list %}
      <tr>
          <td>
              <a href="{% url 'release-view' obj.tag %}">{{ obj.tag }}</a>
          </td>
          <td>{{ obj.rel_date }}</td>
          <td>
              <a class="btn btn-primary" href="{% url 'release-download-view' obj.tag %}">
                Download ({{ obj.json_file.size|filesizeformat }})
              </a>
          </td>
      </tr>
      {% endfor %}
      </tbody>
  </table>
</div>

{% endblock %}
