{% extends "browse/base_generic.html" %}
{% block title %}Release «{{ object.tag }}»{% endblock %}

{% block body %}
<h1>Release {{object.tag}}</h1>

<ul>
  <li>Release date: {{ object.rel_date }}</li>
  <li>Comment: {{ object.comment }}</li>
  {% if object.release_document %}
  <li>
    Release document:
    <a href="{% url 'release-document-download-view' object.tag %}" target="_blank" rel="noopener noreferrer">
      download link
    </a>
  </li>
  {% endif %}
  <li>Number of data files: {{ object.data_files.all|length }}</li>
</ul>

<p>
  <a class="btn btn-primary" href="{% url 'release-download-view' object.tag %}">
    Download JSON ({{ object.json_file.size|filesizeformat }})
  </a>
</p>

{% if LFI %}
<h2>LFI</h2>

<table class="table table-bordered">
    <thead>
    <th>Detector</th>
    <th>φ [°]</th>
    <th>θ [°]</th>
    <th>ψ [°]</th>
    <th>FWHM [arcmin]</th>
    <th>Ellipticity</th>
    </thead>
    <tbody>
    {% for cur_obj in LFI %}
    <tr>
    <td>{{ cur_obj.detector }}</td>
    <td>{{ cur_obj.phi_uv_deg }}</td>
    <td>{{ cur_obj.theta_uv_deg }}</td>
    <td>{{ cur_obj.psi_uv_deg }}</td>
    <td>{{ cur_obj.fwhm_arcmin }}</td>
    <td>{{ cur_obj.ellipticity }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

{% if HFI %}
<h2>HFI</h2>

<table class="table table-bordered">
    <thead>
    <th>Detector</th>
    <th>φ [°]</th>
    <th>θ [°]</th>
    <th>ψ [°]</th>
    <th>FWHM [arcmin]</th>
    <th>Ellipticity</th>
    </thead>
    <tbody>
    {% for cur_obj in HFI %}
    <tr>
    <td>{{ cur_obj.detector }}</td>
    <td>{{ cur_obj.phi_uv_deg }}</td>
    <td>{{ cur_obj.theta_uv_deg }}</td>
    <td>{{ cur_obj.psi_uv_deg }}</td>
    <td>{{ cur_obj.fwhm_arcmin }}</td>
    <td>{{ cur_obj.ellipticity }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}


{% endblock %}
